<div class="card">
  <div class="card-header msg_head">
    <div class="d-flex bd-highlight">
      <div class="img_cont">
        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
        <span class="online_icon"></span>
      </div>
      <div class="user_info">
        <span>Chat with Khalid</span>
        <p>1767 Messages</p>
      </div>
      <div class="video_cam">
        <span><i class="fas fa-video"></i></span>
        <span><i class="fas fa-phone"></i></span>
      </div>
    </div>
    <span id="action_menu_btn"><i class="fas fa-ellipsis-h"></i></span>
    <div class="action_menu">
      <ul>
        <li><i class="fas fa-user-circle"></i> View profile</li>
        <li><i class="fas fa-users"></i> Add to close friends</li>
        <li><i class="fas fa-plus"></i> Add to group</li>
        <li><i class="fas fa-ban"></i> Block</li>
      </ul>
    </div>
  </div>
  <div class="card-body msg_card_body">
    <div class="d-flex justify-content-start mb-4">
      <div class="img_cont_msg">
        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
      </div>
      <div class="msg_cotainer">
        Hi, how are you Ashley?
        <span class="msg_time">8:40 AM, Today </span>
        <!-- <span class="msg_read_icon text-success"><i class="fas fa-check-circle"></i></span> -->
      </div>
    </div>
    <div class="d-flex justify-content-end mb-4">
      <div class="msg_cotainer_send">
        Hi Khalid i am good tnx how about you?
        <span class="msg_time_send">8:55 AM, Today <i class="fas fa-check-circle text-success"></i></span>
      </div>
      <div class="img_cont_msg">
    <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img_msg">
      </div>
    </div>
    <div class="d-flex justify-content-start mb-4">
      <div class="img_cont_msg">
        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
      </div>
      <div class="msg_cotainer">
        I am good too, thank you for your chat template
        <span class="msg_time">9:00 AM, Today </span>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-4">
      <div class="msg_cotainer_send">
        You are welcome
        <span class="msg_time_send">9:05 AM, Today <i class="fas fa-check-circle text-success"></i></span>
      </div>
      <div class="img_cont_msg">
    <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img_msg">
      </div>
    </div>
    <div class="d-flex justify-content-start mb-4">
      <div class="img_cont_msg">
        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
      </div>
      <div class="msg_cotainer">
        I am looking for your next templates
        <span class="msg_time">9:07 AM, Today </span>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-4">
      <div class="msg_cotainer_send">
        Ok, thank you have a good day
        <span class="msg_time_send">9:10 AM, Today <i class="fas fa-check-circle text-success"></i></span>
      </div>
      <div class="img_cont_msg">
    <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img_msg">
      </div>
    </div>
    <div class="d-flex justify-content-start mb-4">
      <div class="img_cont_msg">
        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
      </div>
      <div class="msg_cotainer">
        Bye, see you
        <span class="msg_time">9:12 AM, Today </span>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-4">
      <div class="msg_cotainer_send">
        Ok, bye take care
        <span class="msg_time_send">9:13 AM, Today <i class="fas fa-check-circle"></i></span>
      </div>
      <div class="img_cont_msg">
    <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img_msg">
      </div>
    </div>
  </div>
              <!-- <div class="card-footer">
                  <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">

                      <input class="publisher-input" type="text" placeholder="Write something">
                      <span class="publisher-btn file-group"> <i class="fa fa-paperclip file-browser"></i> <input type="file"> </span>
                      <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                      <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
                  </div>
              </div> -->
              <!-- <div class="chat-footer">
    <textarea class="send-message-text"></textarea>
    <label class="upload-file">
      <input type="file" required="">
      <i class="fa fa-paperclip"></i>
    </label>
    <button type="button" class="send-message-button btn-info"> <i class="fa fa-send"></i> </button>
  </div> -->
  <div class="card-footer">
    <div class="input-group">
      <div class="input-group-append">
        <span class="input-group-text attach_btn">
          <label class="upload-file" style="cursor: pointer;">
            <input type="file" required="" style="display: none;">
            <i class="fa fa-paperclip"></i>
          </label>
        </span>
      </div>
      <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
      <div class="input-group-append">
        <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
      </div>
    </div>
  </div>
</div>
